@use "./scss/resed";
@use "./scss/heder";
@use "./scss/variables";
@use "./scss/media";

body{
    margin: 0;
    font-family: variables.$menu;
    background-color: rgb(8, 1, 1);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    section{
        min-height: 100vh;
        .text-box{
            width: 80%;
            max-width: 540px;
            padding: .7rem;
            background-color: variables.$dark;

            color: #B11226;
        }
    }
    .landing{
        text-align: center;
        display: flex;
        justify-content: center;
    
    
    }
}



#featured{

    background-image: url('../../public/img/backgrounds/marvin-l-61sZcZl3Mlk-unsplash\ \(1\).jpg');
    background-position:center center;
    object-fit: cover;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    p{
        color: white;
    }
    .title{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 40%;
        order: 2;
        text-align: center;
        h1{
            color: variables.$strong-wine;
        }
        h2{
            color: variables.$olive;
        }

    }
    .img-wrapper{
        order: 3;
        display: flex;
        align-items: center;
    }
    .menu-wrapper{
        height: 100vh;
        display: flex;
        align-items: center;
        ul{
            height: 60%;
            order:1;
            color: white;
            list-style-type: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
        }
    }
}
.hide-tooltip{
    display: none;
}
#tooltip{
    background-color: variables.$dark;
    padding: 1rem 1.2rem;
    font-weight: 600;
}
#my-keen-slider{
    position: static;
    z-index: 400;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: variables.$card-dark-wine;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 600px;
  max-height: 100vh;
  position: relative;
  z-index: -1;
}
.number-slide{
    img{
        height: 100%;
    }
}

#shop{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    background-color: variables.$dark;
    color: white;
    .wine{
        background-color: variables.$card-dark-wine;
        padding: .7rem;
        display: flex;
        margin-top: .5rem;
        margin-bottom: .5rem;
        flex-flow: column nowrap;
        align-items: center;
        max-width: 250px;
        border-radius: 1rem;
        transition: 250ms ease-in-out;
        &:hover{
            background-color: variables.$card-dark-wine-hover;
        }
        .img-wrapper{
            text-align: center;
            height:15rem;
            img{
                height: 100%;
            }
        }
        .content{
            display: flex;
            flex-flow: column nowrap;
            h1,h2{
                margin: .2rem;
                text-align: center;
            }
            h1, h2{
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                        line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            ul li{
                list-style-type: none;
                font-size: 1.2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                        line-clamp: 1;
                -webkit-box-orient: vertical;
                img{
                    height: 1.2rem;
                }
            }
            a{
                text-decoration: none;
                color: white;
                align-self: center;
                padding: .5rem 1.2rem;
                border-radius: 1.2rem;
                background-color: variables.$lblue;
                transition: 250ms ease-in-out;
                &:hover{
                    background-color: white;
                    color: variables.$dark-wine;
                }
            }
        }
    }
}   