//fonts
$heading: 'Italiana', serif;
$heading2: 'Kaisei HarunoUmi', serif;
$menu: 'Junge', serif;
// Colors
$olive: #9E6C16;
$strong-wine: #B11226;
$dark-wine: #58181F;
$card-dark-wine: #140305;
$card-dark-wine-hover: #240609;
$dark: #120204;
$lblue: #0075C4;
//Estilos generales